name: Toto
on: 
  pull_request:
    branches: 
      - "main"
    types:
      - "closed"
jobs: 
  Tests: 
    runs-on: ubuntu-latest
    steps:
      - name: test 1
        run: echo "Salut boubou"
        
